{
	"extension": [".ts"],
	"include": ["lib/**/*.ts"],
	"exclude": ["**/*.d.ts", "tests/**", "lib/parser/graphql/generated/**"],
	"reporter": ["text", "lcov", "html"],
	"all": true,
	"sourceMap": true,
	"instrument": true
}
