{
    "extension": [".ts"],
    "include": ["lib/**/*.ts"],
    "exclude": ["**/*.d.ts", "tests/**"],
    "reporter": ["text", "lcov", "html"],
    "all": true,
    "sourceMap": true,
    "instrument": true
}
