name: Release Please

on:
    push:
        branches:
            - main

permissions:
    contents: write
    issues: write
    pull-requests: write

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - name: Release
              uses: googleapis/release-please-action@v4
              with:
                  token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
                  manifest-file: .release-please-manifest.json
                  config-file: release-please-config.json
                  release-type: node
